{% extends "base.html.twig" %}

{% block title 'Voir tous nos bien' %}

{% block body %}
    <div class="container mt-4">
        <h1>Page des Biens</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nihil mollitia tempora distinctio omnis. Omnis inventore ipsa expedita. Voluptates tempore quod magnam
            sit sequi assumenda. Eveniet vero velit accusamus temporibus.
        </p>
    </div>
{% endblock %}